@import "./theme";
@import "./font_primary";
@import "./font_accent";
@import "./components/navbar";
@import "./components/body";
@import "./components/h";
@import "./components/anchor";

body {
	margin: 0;
	padding: 0;
	
	background: #61523e;
	color: #bcfff1;

	@extend .font-primary;
}

* {
	margin: 0;
	padding: 0;
}
