<!DOCTYPE html>
<html>
	<head>
		<title>Peppernuts</title>

		<link rel="stylesheet" href="/public/css/main.css">
	</head>

	<body>
		<div class="navbar">
			<div class="navbar-content">
				<a class="navbar-item" href="#">
					<img src="logo.svg" height="70px">
				</a>
				<a class="navbar-button" href="#">Home</a>
				<a class="navbar-button" href="#">About</a>
				<a class="navbar-button" href="#">Contact Us</a>
			</div>
		</div>
		<div class="body-grid">
			<div class="body-grid-item">
				possibly social media links
			</div>
			<div class="body-grid-item">
				{{ content }}
			</div>
			<div class="body-grid-item">
				idk what would be here, or if anything should be here
			</div>
		</div>
	</body>
</html>